.header-menu > ul {
	list-style-type:none;
}

.header-menu > ul > li {
  float: left;
  padding:10px;
}
.header-menu > ul > li > a {
  text-decoration:none;
  color:#ffffff;
  display:block;
}

a.menu:hover 
{
	background:#63a19e;
}
.header-navigation > ul {
	list-style-type:none;
}
.header-navigation > ul > li 
{
  float: left;
  padding:10px;	
}
.header-navigation > ul > li >a {
text-decoration:none;
}
/*Body*/

 /*Footer*/
 .logo-container > ul
 {
	 list-style-type:none;
	 
 }
 .logo-container > ul > li
{
	float:left;
	padding-left:10px;
}

.footer-top-list > ul
 {
	 list-style-type:none;
	 
 }
 .footer-top-list > ul > li
{
	padding-top:10px;
}
 .footer-top-list > ul > li > a
{
	text-decoration:none;
	 color:#ffffff;
}
.greentext
{
	color:#51938f;
}
.footer-top-header > h2
{
	color: 47847c;
}
@media screen and (max-width: 768px)
{
	.header-menu > ul > li {
  
  float:none;
  padding:10px;
}
}